<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <p> <a type="button" class="btn btn-primary" href="/board/new">글쓰기</a> </p>

        <table class="table table-striped">
            <thead>
            <tr class="table-dark" align="center">
                <th>#</th>
                <th>제목</th>
                <th>내용</th>
            </tr>
            </thead>
            <tr th:each="list : ${list}">
                <td align="center">#</td>
                <td th:text="${list.title}">#</td>
                <td th:text="${list.content}">#</td>
            </tr>
        </table>

    </div>
</body>
</html>