<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <main>
        <div class="px-4 py-2 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="/img/icon_blank.jpg">
            <h1 align="center">Hello World!</h1>
            <div align="center">
                <h4 align="center">Language</h4>
                <img src="https://img.shields.io/badge/Java-007396?style=flat-square&amp;logo=Java&amp;logoColor=white">
                <img src="https://img.shields.io/badge/Delphi-EE1F35?style=flat-square&amp;logo=delphi&amp;logoColor=white">
                <img src="https://img.shields.io/badge/C Sharp-239120?style=flat-square&amp;logo=csharp&amp;logoColor=white">
                </br>
                <img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=flat-square&amp;logo=javascript&amp;logoColor=white">
                <img src="https://img.shields.io/badge/TypeScript-3178C6?style=flat-square&amp;logo=typescript&amp;logoColor=white">
            </div>
            </br>
            <div align="center">
                <h4 align="center">BackEnd</h4>
                <img src="https://img.shields.io/badge/Spring Boot-6DB33F?style=flat-square&amp;logo=Spring Boot&amp;logoColor=white">
                <img src="https://img.shields.io/badge/Gradle-02383A?style=flat-square&amp;logo=Gradle&amp;logoColor=white">
                <img src="https://img.shields.io/badge/AWS-232F3E?style=flat-square&amp;logo=amazonaws&amp;logoColor=white">
            </div>
            </br>
            <div align="center">
                <h4 align="center">FrontEnd</h4>
                <img src="https://img.shields.io/badge/bootstrap-7952B3?style=flat-square&amp;logo=bootstrap&amp;logoColor=white">
                <img src="https://img.shields.io/badge/thymeleaf-005F0F?style=flat-square&amp;logo=thymeleaf&amp;logoColor=white">
            </div>
            </br>
            <div align="center">
                <h4 align="center">Database</h4>
                <img src="https://img.shields.io/badge/Oracle-F80000?style=flat-square&amp;logo=oracle&amp;logoColor=white">
                <img src="https://img.shields.io/badge/MariaDB-003545?style=flat-square&amp;logo=mariadb&amp;logoColor=white">
                <img src="https://img.shields.io/badge/PostgreSQL-4169E1?style=flat-square&amp;logo=postgresql&amp;logoColor=white">
                </br>
                <img src="https://img.shields.io/badge/JPA-007396?style=flat-square&amp;logo=Java&amp;logoColor=white">
                <img src="https://img.shields.io/badge/Querydsl-007396?style=flat-square&amp;logo=Java&amp;logoColor=white">
            </div>
            </br>
            <div align="center">
                <h4 align="center">Dev. Tool</h4>
                <img src="https://img.shields.io/badge/Intelli J-000000?style=flat-square&amp;logo=intellijidea&amp;logoColor=white">
                <img src="https://img.shields.io/badge/Embarcadero-ED1F35?style=flat-square&amp;logo=embarcadero&amp;logoColor=white">
                </br>
                <img src="https://img.shields.io/badge/VS Code-007ACC?style=flat-square&amp;logo=visualstudiocode&amp;logoColor=white">
                <img src="https://img.shields.io/badge/Visual Studio-512BD4?style=flat-square&amp;logo=visualstudio&amp;logoColor=white">
            </div>
        </div>
    </main>
</div>
</body>

</html>